<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico"/>
		<title>programmingdoor</title>
	</head>
	<body>
		<div>
			<img src="../static/images/logo.png"/>
			<form name="programmingdoor" action="/search" method="GET"><br>
				<input type="search" name= "search" class="search"><br>
				<input type="submit" class="button" name="submit" value="Search">
			</form>
		</div>
		<footer>
			<a class="rightlinks" href="https://programmingdoor.com/privacy-policy/">Privacy Policy</a>
			<a class="leftlinks" href="https://programmingdoor.com/">Home</a>
			<a class="leftlinks" href="https://programmingdoor.com/category/data-engineering/">Data Engineering</a>
			<a class="leftlinks" href="https://programmingdoor.com/category/blog/">Blog</a>
			<a class="leftlinks" href="https://programmingdoor.com/about-us/">About</a>
		</footer>
	</body>
</html>

